.banner {
    margin-top: 0;
    padding: 16rem 0 6rem 0;
}

.tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 0.5rem 0.6rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    display: inline-block;
}

.banner h1 {
    font-size: 3.4rem;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 1.25rem;
    display: block;
    width: max-content;
}

.banner p {
    color: #c5c1c1;
    font-size: 1.25rem;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 100%;
}

.cv-button {
    text-decoration: none;
    cursor: pointer;
}

.banner button {
    text-decoration: none;
    cursor: pointer;
    color: #333;
    padding: 0.3rem 0.3rem;
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 3.75rem;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    animation: updown 4s linear infinite;
}

.banner button:hover {font-size: 1.8rem;}

.banner button svg {
    font-size: 1.5rem;
    margin-left: 0.6rem;
    transition: 0.3s ease-in-out;
    line-height: 1;
}

.banner button:hover svg {margin-left: 2vw;}

.align-items-center img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    margin-left: 10vw;
    width: 100%;
}

.align-items-center img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

@keyframes updown {
    0% {transform: translateY(-20px);}
    50% {transform: translateY(20px);}
    100% {transform: translateY(-20px);}
}

@media (max-width: 768px) {
    .banner h1 {
        font-size: 2rem;
        width: 100%;
    }

    .banner p {font-size: 0.9rem;}

    .tagline {
        font-size: 1rem;
        padding: 0.4rem 0.6rem;
    }

    .banner button {font-size: 1rem;}

    .align-items-center img {
        margin: 1rem 0;
        width: 65%;
    }
}

